.language-level-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.language-level-button {
  width: 150px;
  height: 50px;
  background-color: #CEFFE0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  padding: 50px 10px 50px 10px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.centered-title {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.description-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
}

.header-text {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: auto;
  letter-spacing: -0.15em;
  margin-top: 80px;
  margin-bottom: 80px
}
