.container .levels {
  margin-top: 20px !important;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.container.levels {
  h1{font-family: "Lexend Tera";
     font-weight:40px;
     margin-bottom: 70px;
     margin-top: 10%;
    }
}

.language-level{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-level{
  width: 60%;
  align-self: center;
}

.link{
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 10px;
  border: black solid 1px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  font-family: "Lexend Tera";
  color: black;
  background-color: #CEFFE0;
  border: #10212E 1px solid;
  margin-left: 0;
  margin-right: 70%;
  padding: 10px;
  width:fit-content;
  height: 35px;
  border-radius: 15px;
  margin-bottom: 0;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 20px;
  font-family: "Poppins";
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}
