.container.topics {
    margin-top: 20px !important;
    text-align: center;
    width: 100%;
    // margin-left: 8%;
    // margin-right: 8%;
    padding: 0;
}

.container.topics {
  h1{font-family: "Lexend Tera";
     font-weight:40px;
    margin-bottom: 25px;
    margin-top: 15px;
    }
}
.container.topics {
  p{font-size: 20px;
    font-family: "Poppins"}
}
.category-wrapper {
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
  align-content: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
  font-family: Poppins;
}
.flip-card-front {
  h3{font-size: 12px !important;
     font-family: Lexend Tera !important;}
}

.flip-card-back {
  h3{font-size: 16px !important;
    font-family: Lexend Tera !important;
    align-content: center;
    margin-top: 120px;}

  p{font-size: 16px !important;
    font-family: Poppins !important;
    padding: 15px;
    align-content: center;}
}

.flip-card-back {
  background-color:  #CEFFE0;
  color: black;
  transform: rotateY(180deg);
}
.category-item {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  width: 100%;
  height: 100px;
  margin-bottom: 250px;
  font-family: "Poppins";
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 300px;
  height: 320px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 15px 10px 50px 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.category-selector:checked + label {
  color: #9505dd !important;
}

.submit-styling {
  background-color: #E4AFFF;
  font-weight: bold;
  padding: 20px;
}
:hover.submit-styling  {
  background-color: #70857E;
}

.topic-pic {
    width: 240px;
    height: 240px;
    border: #10212E 1px solid !important;
    border-radius: 10px;
    position: absolute;
    top: 60px; left: 30px;
    background-size: cover !important;
    background-position: center;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.topic-name {
  margin-top: 0 !important;
}
