<% if bot_message.audio.attached? %>
  <div
    data-controller="audio-player"
  >
    <% audio_player_data = { audio_player_target: "bot" } %>
    <%= audio_tag bot_message.audio, controls: false, data: audio_player_data %>
    <button data-action="audio-player#replay" style="font-size: 0.8em; background: transparent; border: none; padding-left: 0">
      <i class="fas fa-volume-up"></i>
    </button>
  </div>
<% else %>
  <p>No audio available</p>
<% end %>
