<% if bot_message.audio.attached? %>
    <div
      data-controller="audio-player"
      >
<%= audio_tag bot_message.audio, controls: true, data: { audio_player_bot_id_value: (@highest_bot_id if bot_message.id == @highest_bot_id) } %>
    </div>
    <%# <div data-controller="audio-player" data-audio-url="<%= rails_blob_path(@bot.audio) %>

  <% else %>
    <p>No audio available</p>
  <% end %>
