<div class="chat-window">
  <div class="bot-msg">
    <%= @bot.content %>
  </div>
  <%= simple_form_for [@conversation, @user_message] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
