<p>
  <%= @bot.content %>
</p>

<div>

  <% if @bot.audio.attached? %>
    <div
      data-controller="audio-player"
      data-action="play->audio-player#fire">
      <%= audio_tag @bot.audio, controls: true %>
    </div>
    <%# <div data-controller="audio-player" data-audio-url="<%= rails_blob_path(@bot.audio) %>

  <% else %>
    <p>No audio available</p>
  <% end %>
</div>
