<div class="container topics" >
  <h1>Topics</h1>
  <p>Awesome! Your level is a Beginner.</p>
  <p> Please choose a topic you would like to talk about.</p>
  <div class="container-cards category-wrapper">
    <div class="card-category category-item">
       <ul>

         <%= simple_form_for @conversation do |f|%>
          <%= f.association :topic,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Topic.all.pluck(:name)%>
          <%= f.submit%>
          <% end %>
      </ul>
    </div>

  </div>

</div>
