<div class="container-topics">
  <h1>Topics</h1>
  <p>Awesome, you already are <%= @user.level %> level!</p>
  <p> Please choose a topic you would like to talk about.</p>
  <div class="container-cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
       <ul>
      <% @topics.each do |topic| %>
        <li><%= topic.name %></li>
      <% end %>
      </ul>
    </div>

  </div>

</div>
