<div class="container topics" >
  <h1>Topics</h1>
  <p>Awesome! Your level is a <%= @user.level %>.</p>
  <p> Please choose a topic you would like to talk about.</p>
  <div class="container-cards category-wrapper">
    <div class="card-category category-item">
         <%= simple_form_for @conversation, html: { id: 'conversation_form', data: { controller: 'form-submit',  action: 'change->form-submit#submit' } } do |f|%>
          <%= f.association :topic,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Topic.all.pluck(:name, :id),
            # collection: Topic.where(level== @user.level).all.pluck(:name, :id),
            # collection: Topic.where('level <= ?', @user.level).pluck(:name, :id),
            legend_tag: false%>
          <%= f.submit "Start Conversation", class: "submit-styling d-none" %>
          <% end %>
    </div>

  </div>

</div>

<%# <style>
   .category-selector label:hover::before  {
    content: "New Text Here";
  }
</style> %>
