
<h1>Choose Your Language Level</h1>

<%= button_to 'Beginner', { action: "set_language_level", level: "beginner" }, method: :post %>
<%= button_to 'Intermediate', { action: "set_language_level", level: "intermediate" }, method: :post %>
<%= button_to 'Advanced', { action: "set_language_level", level: "advanced" }, method: :post %>
