<div class="page-container">
  <h1 class="centered-title header-text">Choose Your Language Level</h1>
  <div class="language-level-grid">
    <div>
      <%= button_to 'Beginner', { action: "set_language_level", level: "beginner" }, method: :post, class: "language-level-button" %>
    </div>
    <div class="description-text">
      This resource is tailored for beginners seeking to enhance their conversational abilities.
    </div>
    <div>
      <%= button_to 'Intermediate', { action: "set_language_level", level: "intermediate" }, method: :post, class: "language-level-button" %>
    </div>
    <div class="description-text">
      This is for those who have some experience with the language and want to improve.
    </div>
    <div>
      <%= button_to 'Advanced', { action: "set_language_level", level: "advanced" }, method: :post, class: "language-level-button" %>
    </div>
    <div class="description-text">
      This is for those who are fluent in the language and want to maintain their skills.
    </div>
  </div>
</div>
