<div class="logo-container">
  <%= image_tag("Logo.png", class: "centered-logo") %>

  <div class="description">
    <p>Meet FluentlyAI, your personalized language-learning companion designed to boost your confidence in speaking German. Let FluentlyAI guide you through fluent conversations, making your journey to mastering the German language a seamless and enjoyable experience.</p>
  </div>
</div>
