<div class="homepage-container">
  <div class="header-container">
    <h1 class="first-line">Speak German</h1>
    <h1>with confidence</h1>
  </div>
  <%= link_to 'Start your journey', users_choose_language_level_path, class:"choose-lang-btn" %>
</div>
