.banner {
  background-image: image-url('banner.png');
  background-size: cover;
  background-position: top 1px center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 !important;
  width: 100% !important;
  padding: 0;
}

.items-container {
  text-align: center;
  padding: 250px 0;

}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: "Lexend Tera";
  font-weight: bold;
  padding-bottom: 20px;
}

.banner h2 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-family: "Lexend Tera";
  font-weight: bold;
  padding-bottom: 50px;
}

.banner p {
  font-size: 25px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 60px;
  font-family: "Poppins";
}
.start-btn {
  height: 90px;
  width: 20%;
  text-decoration: none;
  color: black;
  position: center;
  font-size:20px;
  font-family: "Lexend Tera";
  font-weight: bold;
  padding: 30px 30px 30px 30px;
  border: #10212E 3px solid;
  text-align: center;
  border-radius: 40px;
  background-color: #E4AFFF;
  border: #10212E 2px solid;
  justify-content: center;
}

.start-btn:hover {
  background-color: #CEFFE0;
}
