.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-left: 8%;
  margin-right: 8%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  background-color: transparent;
  margin-left: 0px;
}

.nav-link-text {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: auto;
  letter-spacing: -0.15em;
}

.navbar {
  background-color:  #FFE3E2;
}

.nav-item {
  margin-right: 20px;
}

.avatar {
  width: 60px;
  margin-right: -20px;


}
