<div class="banner">
  <div class="container items-container">
    <h1>Speak German</h1>
    <h2>with confidence</h2>
    <p>Change your life and learn German with <strong>FluentlyAI</strong>!</p>
    <%= link_to 'Start your journey', users_choose_language_level_path, class:"start-btn" %>
  </div>
</div>
